* {
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}
.container-fluid {
    background-color: #F2F1EA;
    font-family: Work Sans;
}

#header {
    display: flex;
    margin: auto;
    padding: 2%;
}

.header-logo {
    height: auto;
}

.header-links {
    width: 80%;
}

#logo {
    width: 5%;
    padding: 5%;
    padding-left: 35px;
}

@media screen and (min-width: 500px) {
    .header-logo {
        width: 70%;
    }

    #logo {
        width: 50%;
    }
}

#header-list a {
    color: black;
    font-weight: 600;
    font-size: small;
    font-family: Work Sans;
    padding-right: 7px;
}

.phone-logo {
    width: 20px;
}

#yellow-in-black {
    font-weight: 600;
    background-color: black;
    color: rgba(255, 255, 0, 0.897);
}

#black-in-yellow {
    font-weight: 600;
    background-color: rgba(255, 255, 0, 0.897);
    color: black;
}

.tick {
    background-color: transparent;
}

#s1-content {
    padding: 5%;
}

.design {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

#d1 {
    width: 100%;
    padding-left: 4%;

}

#s1-content h1 {
    background-color: black;
    color: #F9DF08;
    width: fit-content;
    font-size: 85px;
    margin-right: -4%;
    padding: 5px;
}

#s1-content-one {
    margin-right: -4%;
    padding: 5px;
}

#s1-content-one h1 {
    background-color: black;
    color: #F9DF08;
    width: fit-content;
    font-size: 85px;
    margin-left: 85px;
    padding: 25px;
    margin-top: 2%;
    position: absolute;
}

#image-h {
    width: 100%;
}

#image-h img {
    width: 100%;
}

#s1-graphics img {
    width: 100%;
}

#carouselExampleRide {
    margin-top: -2%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
}

.quote {
    margin-top: 7%;
    background-color: transparent;
}

#section-2 h1 {
    margin: 7%;
    margin-top: 1%;
    margin-bottom: 4%;
    font-weight: bolder;
    position: relative;
    color: rgba(255, 255, 0, 0.897);
    background-color: transparent;
}

#section-2 img {
    margin-left: 7%;
    width: auto;
    font-weight: bolder;
    position: relative;
    background-color: transparent;
}

#section-2 button {
    margin-left: 7%;
    width: auto;
    font-weight: bolder;
    position: relative;
    font-weight: 600;
    background-color: white;
    color: black;
}

.boxes {
    display: flex;
    margin: 2%;
    margin-top: -6%;
    margin-left: 14%;
    width: 70%;
    background-color: transparent;
    position: absolute;
}

.box {
    display: flow-root;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 20px;
    margin: 2%;
    width: 15%;
    height: 110px;
}

.box p {
    font-weight: 500;
    font-size: small;
}

.box img {
    width: 35px;
    height: 45px;
    background-color: transparent;
}

#s2-r {
    width: 100%;
    height: 100%;
    background-image: url("public/sec-2-bg.png");
}

#s2-c {
    padding: 5%;
}

#s2-c p {
    margin: 5%;
    color: rgba(255, 255, 0, 0.897);
    ;
}

#s2-c img {
    margin-left: 5%;
}

#s2-c button {
    margin: 5%;
}

#s3-bg img {
    width: 100%;
    padding: 0%;
}

#s4-r {
    width: 100%;
    height: 90%;
    padding: 7%;
    position: relative;
    background-image: url("public/sec-4.png");
}

.img-fluid {
    width: 50%;
    height: auto;
}

#s4-c h1 {
    color: #F9DF08;
    font-family: Work Sans;
}

.position-sticky {
    height: 105%;
}

#s4-r {
    height: 100%;
}

#s4-c p {
    color: white;
    font-family: Work Sans;
} 

#s4-c button {
    border-color: transparent;
    text-align: left;
}

#vroom-r {
    margin-top: -12%;
    margin-left: 35%;
    position: absolute;
}

#vroom img {
    width: 100%;
    margin-right: 50%;
}

#section-5 {
    padding: 10%;
}

#oc-1 {
    height: 35%;
}

.wrench {
    position: absolute;
    width: 40px;
    height: 52px;
    left: 92px;
    top: 4186px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

#s7-r {
    height: auto;
}

#s7-c1 {
    background-image: url("public/s7-1.png");
    padding-top: 20%;
    height: 500px;
}

#s7-c1 h1 {
    color: #F9DF08;
}

#s7-c1 p {
    color: #F2F1EA;
    padding-right: 40%;
}

#s7-c2 {
    background-image: url("public/s7-2.png");
    padding-top: 20%;
    height: 500px;
}

#s7-c2 h1 {
    color: #F9DF08;
}

#s7-c2 p {
    color: #F2F1EA;
    padding-right: 40%;
}

#s8-r {
    height: 80%;
}

#s8-c1 h1 {
    background-color: black;
    color: rgba(255, 255, 0, 0.897);
    width: fit-content;
    padding: 1.5%;
    padding-left: 2%;
    font-size: 80px;
    padding-right: 2%;
    margin-top: -2%;
    padding-bottom: 2%;
    margin-left: 2%;
    position: absolute;
}

.text-center {
    font-weight: 700;
    font-size: 65px;
    font-family: Work Sans;
}

#s8-c1 p {
    padding-left: 10%;
    margin-top: 5%;
}

#p2 {
    padding-top: 25%;
}

#s8-c1 button {
    margin-left: 10%;
}

#s8-c2 img {
    height: 100%;
}

@media screen and (min-width: 600px) {
    #s8-c2 img {
        height: 90%;
    }
}

#s9-h {
    margin-left: 15%;
    font-weight: 700;
    font-size: 64px;
    width: 70%;
    font-family: Work Sans;
}

@media screen and (max-width: 750px) {
    #s9-h {
        margin-left: 10%;
        font-weight: 700;
        font-size: 50px;
        width: 70%;
        font-family: Work Sans;
    }
    
    #map_g {
        width: 50px;
    }
}

#footer {
    background-image: url("public/footer.png");
    color: #F2F1EA;
}

.carousel-text {
    height: 700px;
    color: white;
    padding: 6%;
    padding-left: 10%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-image: url("public/sec-2-bg.png");
}

.carousel-text p {
    color: #F9DF08;
    font-family: Work Sans;
}

#black-in-white {
    background-color: white;
    color: black;
    margin-left: 60%;
}

#cards {
    margin-top: -8%;
}

.card {
    width: 16%;
    padding: 2%;
    margin: 25px;
}

.card img {
    width: 50px;
}

@media screen and (max-width: 992px) {
    .col-md-12 {
        margin-left: 15%;
    }
    
}