* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}

.container-fluid {
  background-color: #F2F1EA;
  margin: 0%;
  padding: 0px;
  overflow-x: hidden;
}

#yellow-in-black {
  font-weight: 600;
  background-color: black;
  color: #F9DF08;
}

#yellow-in-black:hover {
  font-weight: 600;
  background-color: #F9DF08;
  color: black;
}

#black-in-yellow {
  font-weight: 600;
  background-color: #F9DF08;
  color: black;
}

#black-in-yellow:hover {
  font-weight: 600;
  background-color: black;
  color: #F9DF08;
}

#yb-btn {
  width: 50%;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 3%;
}

#black-in-white {
  background-color: white;
  color: black;
}

.scroll-down-section {
  position: absolute;
  padding-inline: 10%;
}
.scroll-down-section .scroll-link {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
}
.scroll-down-section .scroll-line {
  height: 100px;
  width: 2px;
  background-color: rgb(251, 255, 0);
  margin-inline: 3%;
}

#header-list li a {
  color: black;
  font-weight: 600;
  font-size: 15px;
  font-family: Work Sans;
  padding-right: 7px;
}

.phone-logo {
  width: 20px;
}

.tick {
  background-color: transparent;
}

.header-logo {
  width: 60%;
  height: auto;
}
.header-logo #logo {
  width: 40%;
  padding: 5%;
  padding-left: 35px;
}

#s1-content {
  padding: 5%;
}

.d-block {
  margin: 0;
  padding: 0;
  width: 100%;
}

#s1-title {
  background-color: black;
  color: #F9DF08;
  padding: 0.3%;
  padding-inline: 2%;
  font-size: 95px;
  font-weight: 800;
}

#s1-body {
  margin-top: 25%;
}

#s1-image {
  background-image: url("public/1S9A7314 1.png");
  background-size: cover;
  height: 100vh;
}

.carousel-text {
  height: 700px;
  padding: 6%;
  padding-left: 10%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-image: url("public/sec-2-bg.png");
}
.carousel-text p {
  color: #F9DF08;
  font-size: 340.75%;
}
.carousel-text img {
  width: -moz-fit-content;
  width: fit-content;
}
.carousel-text div img {
  width: -moz-fit-content;
  width: fit-content;
}
.carousel-text div button {
  width: -moz-fit-content;
  width: fit-content;
}

#cards {
  margin-top: -8%;
}
#cards div .card {
  width: 14em;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-inline: 0%;
  margin: 1.5px;
}
#cards div .card img {
  width: 50px;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 7%;
}

.section-3-title h1 {
  font-size: 70px;
  font-weight: 800;
}

.section-3-content div h1 {
  font-size: 45px;
  font-weight: 800;
}
.section-3-content div ul li {
  font-size: 20px;
  font-weight: 500;
}

.position-sticky {
  height: 100%;
}
.position-sticky #s4-r {
  height: 100%;
  position: relative;
  background-image: url("public/sec-4.png");
  background-size: cover;
}
.position-sticky #s4-r #s4-c h1 {
  font-size: 70px;
  color: #F9DF08;
}
.position-sticky #s4-r #s4-c p {
  font-size: 20px;
  color: white;
}
.position-sticky #s4-r #s4-c button {
  border-color: transparent;
  text-align: left;
}

.section-5-title h1 {
  font-size: 70px;
  font-weight: 800;
}

.section-5-content .cart {
  height: 40em;
}
.section-5-content .cart .inner-cart .upper {
  height: 25%;
  justify-content: center;
  padding: 5%;
  padding-inline: 10%;
}
.section-5-content .cart .inner-cart .upper .price {
  margin-right: 5%;
}
.section-5-content .cart .inner-cart .upper p {
  font-weight: 600;
  display: block;
}
.section-5-content .cart .inner-cart .lower {
  height: 65%;
  background-color: #F9DF08;
}
.section-5-content .cart .inner-cart .lower div {
  padding-top: 5%;
  font-size: 18px;
  font-weight: 600;
}
.section-5-content .cart .inner-cart .lower .final-price span {
  font-size: 60px;
  font-weight: 800;
}
.section-5-content .cart .inner-cart .lower hr {
  width: 50%;
  margin-left: 25%;
}

.section-8 #s8-image {
  background-image: url("public/sec-8.png");
  background-size: cover;
  width: 110vh;
  height: 100vh;
}
.section-8 div {
  padding: 15%;
}
.section-8 div #s8-title {
  margin-right: -2%;
  background-color: black;
  color: #F9DF08;
  padding: 2%;
  font-size: 85px;
  font-weight: 800;
}
.section-8 div #s8-body {
  margin-top: 30%;
}
.section-8 div #s8-body #s8-body-subtitle {
  font-size: 35px;
  font-weight: 800;
}
.section-8 div #s8-body #s8-body-paragraph {
  font-size: 20px;
  font-weight: 500;
}

.section-9-title h1 {
  font-weight: 800;
  font-size: 64px;
  letter-spacing: -2px;
  width: 64%;
  font-family: Work Sans;
  margin-inline: 20%;
  text-align: center;
}

.section-9-content div img {
  width: 80%;
}
.section-9-content div p {
  font-size: 40px;
  font-weight: 800;
}
.section-9-content div div ul li {
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  #s1-title {
    padding: 1%;
    padding-inline: 5%;
    font-size: 65px;
    font-weight: 800;
  }
  #s1-body {
    margin-top: 30%;
  }
  #s1-image {
    background-image: url(public/1S9A7314\ 1.png);
    background-size: cover;
    height: 100vh;
  }
  .carousel-text {
    height: 700px;
    padding: 6%;
    padding-left: 10%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-image: url("public/sec-2-bg.png");
  }
  .carousel-text p {
    color: #F9DF08;
    font-size: 50px;
  }
  .carousel-text img {
    width: -moz-fit-content;
    width: fit-content;
  }
  .carousel-text div img {
    width: -moz-fit-content;
    width: fit-content;
  }
  .carousel-text div button {
    width: -moz-fit-content;
    width: fit-content;
  }
  #cards {
    margin-top: -8%;
  }
  #cards div .card {
    width: 10em;
    height: auto;
    padding: 2%;
    margin: 7px;
  }
  #cards div .card img {
    width: 50px;
  }
  .position-sticky {
    height: 100%;
  }
  .position-sticky #s4-r {
    height: 90%;
    position: relative;
    background-image: url("public/sec-4.png");
  }
  .position-sticky #s4-r #s4-c h1 {
    font-size: 70px;
    color: #F9DF08;
  }
  .position-sticky #s4-r #s4-c p {
    font-size: 18px;
    color: white;
  }
  .position-sticky #s4-r #s4-c button {
    border-color: transparent;
    text-align: left;
  }
  .section-8 #s8-image {
    background-image: url("public/sec-8.png");
    background-size: cover;
    height: 100vh;
  }
  .section-8 div #s8-title {
    margin-right: -2%;
    background-color: black;
    color: #F9DF08;
    padding: 2%;
    font-size: 80px;
    font-weight: 800;
  }
  .section-8 div #s8-body {
    margin-top: 30%;
  }
  .section-8 div #s8-body #s8-body-subtitle {
    font-size: 35px;
    font-weight: 800;
  }
  .section-8 div #s8-body #s8-body-paragraph {
    font-size: 20px;
    font-weight: 500;
  }
}
@media screen and (max-width: 992px) {
  .header-logo {
    width: 70%;
  }
  .header-logo #logo {
    width: 50%;
  }
  #s1-title {
    width: 80%;
    margin-inline: 10%;
    margin-top: -5%;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
  }
  .carousel-text {
    padding: 4%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .carousel-text p {
    color: #F9DF08;
    font-size: 45px;
  }
  #s1-body {
    margin-top: 7%;
  }
  #s1-image {
    height: 50vh;
  }
  .carousel-text {
    height: 600px;
    padding: 3%;
    padding-left: 10%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-image: url("public/sec-2-bg.png");
  }
  .carousel-text p {
    color: #F9DF08;
    font-size: 40px;
  }
  .carousel-text img {
    width: -moz-fit-content;
    width: fit-content;
  }
  .carousel-text div img {
    width: 15em;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: -3em;
  }
  .carousel-text div button {
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -3em;
  }
  #cards {
    margin-top: -1%;
  }
  #cards div .card {
    width: 60%;
    padding: 2%;
    margin: 15px;
  }
  #cards div .card img {
    width: 50px;
  }
  .section-3-title h1 {
    font-size: 50px;
    font-weight: 800;
  }
  .section-3-content div h1 {
    font-size: 35px;
    font-weight: 800;
  }
  .section-3-content div ul li {
    font-size: 15px;
    font-weight: 500;
  }
  .position-sticky {
    height: 100%;
  }
  .position-sticky #s4-r {
    height: 90%;
    position: relative;
    background-image: url("public/sec-4.png");
  }
  .position-sticky #s4-r #s4-c h1 {
    font-size: 60px;
    color: #F9DF08;
  }
  .position-sticky #s4-r #s4-c p {
    font-size: 15px;
    color: white;
  }
  .position-sticky #s4-r #s4-c button {
    border-color: transparent;
    text-align: left;
  }
  .section-8 #s8-image {
    background-image: url("public/sec-8.png");
    background-size: cover;
    height: 50vh;
  }
  .section-8 div #s8-title {
    width: 80%;
    margin-top: -5%;
    margin-inline: 10%;
    background-color: black;
    color: #F9DF08;
    padding: 2%;
    font-size: 70px;
    font-weight: 800;
  }
  .section-8 div #s8-body {
    margin-top: 10%;
  }
  .section-8 div #s8-body #s8-body-subtitle {
    font-size: 35px;
    font-weight: 800;
  }
  .section-8 div #s8-body #s8-body-paragraph {
    font-size: 20px;
    font-weight: 500;
  }
  .section-9-title h1 {
    margin-left: 15%;
    font-weight: 700;
    font-size: 60px;
    width: 70%;
    font-family: Work Sans;
  }
  .section-9-content div img {
    width: 50%;
  }
  .section-9-content div p {
    font-size: 40px;
    font-weight: 800;
  }
  .section-9-content div div ul li {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header-logo {
    width: 90%;
  }
  .header-logo #logo {
    width: 90%;
  }
  #s1-title {
    margin-inline: 10%;
    margin-top: -7%;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
  }
  #s1-body {
    margin-top: 10%;
    text-align: center;
  }
  #s1-image {
    height: 50vh;
  }
  .carousel-text {
    height: 600px;
    padding: 3%;
    padding-left: 10%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-image: url("public/sec-2-bg.png");
  }
  .carousel-text p {
    color: #F9DF08;
    font-size: 33px;
  }
  .carousel-text img {
    width: 5em;
    height: -moz-fit-content;
    height: fit-content;
  }
  .carousel-text div img {
    width: 15em;
    height: -moz-fit-content;
    height: fit-content;
  }
  .carousel-text div button {
    width: -moz-fit-content;
    width: fit-content;
  }
  #cards {
    margin-top: -1%;
  }
  #cards div .card {
    width: 80%;
    height: 200px;
    padding-top: 15%;
    margin: 15px;
  }
  #cards div .card img {
    width: 50px;
  }
  .section-3-title h1 {
    font-size: 50px;
    font-weight: 800;
  }
  .section-3-content div h1 {
    font-size: 35px;
    font-weight: 800;
  }
  .section-3-content div ul li {
    font-size: 15px;
    font-weight: 500;
  }
  .position-sticky {
    height: 100%;
  }
  .position-sticky #s4-r {
    height: 75%;
    position: relative;
    background-image: url("public/sec-4.png");
    background-size: cover;
  }
  .position-sticky #s4-r #s4-c h1 {
    font-size: 50px;
    color: #F9DF08;
  }
  .position-sticky #s4-r #s4-c p {
    font-size: 15px;
    color: white;
  }
  .position-sticky #s4-r #s4-c button {
    border-color: transparent;
    text-align: left;
  }
  .section-5-title h1 {
    font-size: 40px;
    font-weight: 800;
  }
  .section-5-content div div #oc-1 {
    height: 35%;
  }
  .section-8 #s8-image {
    background-image: url("public/sec-8.png");
    background-size: cover;
    height: 50vh;
  }
  .section-8 div #s8-title {
    width: 80%;
    margin-top: -5%;
    margin-inline: 10%;
    background-color: black;
    color: #F9DF08;
    padding: 2%;
    font-size: 45px;
    font-weight: 800;
  }
  .section-8 div #s8-body {
    margin-top: 10%;
  }
  .section-8 div #s8-body #s8-body-subtitle {
    font-size: 30px;
    font-weight: 800;
  }
  .section-8 div #s8-body #s8-body-paragraph {
    font-size: 20px;
    font-weight: 500;
  }
  .section-9-title h1 {
    margin-left: 15%;
    font-weight: 700;
    font-size: 45px;
    width: 70%;
    font-family: Work Sans;
  }
  .section-9-content div img {
    width: 60%;
  }
  .section-9-content div p {
    font-size: 40px;
    font-weight: 800;
  }
  .section-9-content div div ul li {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  #s1-title {
    margin-inline: 10%;
    margin-top: -7%;
    font-size: 35px;
    font-weight: 800;
  }
  .carousel-text {
    height: 500px;
    padding: 3%;
    padding-left: 10%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-image: url("public/sec-2-bg.png");
  }
  .carousel-text p {
    color: #F9DF08;
    font-size: 25px;
  }
  .carousel-text img {
    width: 4em;
    height: -moz-fit-content;
    height: fit-content;
  }
  .carousel-text div img {
    width: 10em;
    height: auto;
  }
  .carousel-text div button {
    width: -moz-fit-content;
    width: fit-content;
  }
  #cards {
    margin-top: 1%;
  }
  #cards div .card {
    width: 95%;
    height: 200px;
    padding-top: 15%;
    margin: 15px;
  }
  #cards div .card img {
    width: 50px;
  }
  .section-3-title h1 {
    font-size: 40px;
    font-weight: 800;
  }
  .section-3-content div h1 {
    font-size: 25px;
    font-weight: 800;
  }
  .section-3-content div ul li {
    font-size: 15px;
    font-weight: 500;
  }
  .position-sticky {
    height: 100%;
  }
  .position-sticky #s4-r {
    height: 90%;
    position: relative;
    background-image: url("public/sec-4.png");
    background-size: cover;
  }
  .position-sticky #s4-r #s4-c h1 {
    font-size: 50px;
    color: #F9DF08;
  }
  .position-sticky #s4-r #s4-c p {
    font-size: 15px;
    color: white;
  }
  .position-sticky #s4-r #s4-c button {
    border-color: transparent;
    text-align: left;
  }
  .section-5-content .cart {
    height: 30em;
  }
  .section-5-content .cart .inner-cart .upper {
    font-size: 15px;
    height: 40%;
  }
  .section-5-content .cart .inner-cart .lower {
    height: 55%;
  }
  .section-8 #s8-image {
    background-image: url("public/sec-8.png");
    background-size: cover;
    height: 50vh;
  }
  .section-8 div #s8-title {
    width: 80%;
    margin-top: -5%;
    margin-inline: 10%;
    background-color: black;
    color: #F9DF08;
    padding: 2%;
    font-size: 45px;
    font-weight: 800;
  }
  .section-8 div #s8-body {
    margin-top: 10%;
  }
  .section-8 div #s8-body #s8-body-subtitle {
    font-size: 30px;
    font-weight: 800;
  }
  .section-8 div #s8-body #s8-body-paragraph {
    font-size: 20px;
    font-weight: 500;
  }
  .section-9-title h1 {
    margin-left: 5%;
    font-weight: 700;
    font-size: 35px;
    width: 80%;
    font-family: Work Sans;
  }
  .section-9-content div img {
    width: 80%;
  }
  .section-9-content div p {
    font-size: 25px;
    font-weight: 800;
  }
  .section-9-content div div ul li {
    font-size: 15px;
  }
}
#s1-content h1 {
  background-color: black;
  color: #F9DF08;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 85px;
  margin-right: -4%;
  padding: 5px;
}

#s1-content-one {
  margin-right: -4%;
  padding: 5px;
}

#s1-content-one h1 {
  background-color: black;
  color: #F9DF08;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 85px;
  margin-left: 85px;
  padding: 25px;
  margin-top: 2%;
  position: absolute;
}

#image-h {
  background-image: url("public/1S9A7314 1.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

#s1-graphics img {
  width: 100%;
}

#carouselExampleRide {
  margin-top: -2%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4%;
}

.quote {
  margin-top: 7%;
  background-color: transparent;
}

#section-2 h1 {
  margin: 7%;
  margin-top: 1%;
  margin-bottom: 4%;
  font-weight: bolder;
  position: relative;
  color: rgba(255, 255, 0, 0.897);
  background-color: transparent;
}

#section-2 img {
  margin-left: 7%;
  width: auto;
  font-weight: bolder;
  position: relative;
  background-color: transparent;
}

#section-2 button {
  margin-left: 7%;
  width: auto;
  font-weight: bolder;
  position: relative;
  font-weight: 600;
  background-color: white;
  color: black;
}

.boxes {
  display: flex;
  margin: 2%;
  margin-top: -6%;
  margin-left: 14%;
  width: 70%;
  background-color: transparent;
  position: absolute;
}

.box {
  display: flow-root;
  border-radius: 20px;
  padding-left: 40px;
  padding-top: 20px;
  margin: 2%;
  width: 15%;
  height: 110px;
}

.box p {
  font-weight: 500;
  font-size: small;
}

.box img {
  width: 35px;
  height: 45px;
  background-color: transparent;
}

#s2-r {
  width: 100%;
  height: 100%;
  background-image: url("public/sec-2-bg.png");
}

#s2-r {
  padding: 5%;
}

#s2-c p {
  margin: 5%;
  color: rgba(255, 255, 0, 0.897);
}

#s2-c img {
  margin-left: 5%;
}

#s2-c button {
  margin: 5%;
}

#s3-bg img {
  width: 100%;
  padding: 0%;
}

.img-fluid {
  width: 50%;
  height: auto;
}

#vroom-r {
  margin-top: -12%;
  width: 100%;
  justify-content: end;
  position: absolute;
  animation-name: vrooming;
  animation-duration: 3s;
}
#vroom-r img {
  width: 35%;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes vrooming {
  0% {
    right: 0;
  }
  50% {
    right: 7%;
  }
  100% {
    right: 15%;
  }
}
#card {
  height: -moz-fit-content;
  height: fit-content;
}

.wrench {
  position: absolute;
  width: 40px;
  height: 52px;
  left: 92px;
  top: 4186px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

#s7-c1 {
  background-image: url("public/s7-1.png");
  background-size: cover;
  padding-top: 20%;
  height: 100%;
}

#s7-c1 h1 {
  color: #F9DF08;
}

#s7-c1 p {
  color: #F2F1EA;
}

#s7-c2 {
  background-image: url("public/s7-2.png");
  background-size: cover;
  padding-top: 20%;
  height: 100%;
}

#s7-c2 h1 {
  color: #F9DF08;
}

#s7-c2 p {
  color: #F2F1EA;
}

#white-in-black {
  background-color: black;
  color: #F2F1EA;
}

#white-in-black:hover {
  background-color: white;
  color: black;
}

#footer {
  background-image: url("public/footer.png");
  color: #F2F1EA;
}

@media screen and (max-width: 992px) {
  .col-md-12 {
    margin-left: 15%;
  }
}/*# sourceMappingURL=style.css.map */