// Colors
$bg-color: #F2F1EA;
$font-color-yellow: #F9DF08;

// Font Family
$font-family: Work Sans;

// Font Size
$h1-font-size: 70px;
$h2-font-size: 45px;
$h3-font-size: 20px;
$h4-font-size: 15px;

$h1-font-weight: 800;
$h2-font-weight: 500;

// SCSS
* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

.container-fluid {
    background-color: $bg-color;
    margin: 0%;
    padding: 0px;
    overflow-x: hidden;
}

// Buttons
#yellow-in-black {
    font-weight: 600;
    background-color: black;
    color: $font-color-yellow;
}

#yellow-in-black:hover {
    font-weight: 600;
    background-color: $font-color-yellow;
    color: black;
}

#black-in-yellow {
    font-weight: 600;
    background-color: $font-color-yellow;
    color: black;
}

#black-in-yellow:hover {
    font-weight: 600;
    background-color: black;
    color: $font-color-yellow;
}

#yb-btn {
    width: 50%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3%;
}

#black-in-white {
    background-color: white;
    color: black;
}

.scroll-down-section {
    position: absolute;
    padding-inline: 10%;

    .scroll-link {
        text-decoration: none;
        color: black;
        font-size: 13px;
        font-weight: 500;
    }

    .scroll-line {
        height: 100px;
        width: 2px;
        background-color: rgb(251, 255, 0);
        margin-inline: 3%;
    }
}

// Headers

#header-list li a {
    color: black;
    font-weight: 600;
    font-size: $h4-font-size;
    font-family: Work Sans;
    padding-right: 7px;
}

.phone-logo {
    width: 20px;
}

.tick {
    background-color: transparent;
}

.header-logo {
    width: 60%;
    height: auto;

    #logo {
        width: 40%;
        padding: 5%;
        padding-left: 35px;
    }
}

// Section-1
#s1-content {
    padding: 5%;
}

.d-block {
    margin: 0;
    padding: 0;
    width: 100%;
}

#s1-title {
    background-color: black;
    color: $font-color-yellow;
    padding: 0.3%;
    padding-inline: 2%;
    font-size: calc($h1-font-size + 25px);
    font-weight: $h1-font-weight;
}

#s1-body {
    margin-top: 25%;
}

#s1-image {
    background-image: url("public/1S9A7314\ 1.png");
    background-size: cover;
    height: 100vh;
}

// Section-2
.carousel-text {
    height: 700px;
    padding: 6%;
    padding-left: 10%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-image: url("public/sec-2-bg.png");

    p {
        color: $font-color-yellow;
        font-size: 340.75%;
    }

    img {
        width: fit-content;
    }

    div {
        img {
            width: fit-content;
        }

        button {
            width: fit-content;
        }
    }
}

// Section-2: Cards
#cards {
    margin-top: -8%;

    div {
        .card {
            width: 14.5em;
            height: auto;
            padding: 20px 10px 30px;
            display: flex;
            gap: 10px;

            img {
                width: auto;
                height: auto;
                vertical-align: middle;
                display: inline-block;
            }

            h5 {
                letter-spacing: -1px;
            }
        }
    }
}

// Section-3
.section-3-title {
    h1 {
        font-size: calc($h1-font-size - 10px);
        font-weight: $h1-font-weight;
        word-spacing: -2px;
        letter-spacing: -2px;
    }
}

.section-3-content {

.section-3-image img {
    position: relative;
    z-index: 2;
    margin-bottom: -100px;
}
    .section-3-sub-content {
        padding: 5%;
        margin-top: 0%;

        h1 {
            font-size: calc($h2-font-size - 10px);
            font-weight: $h1-font-weight;
            margin-bottom: 20px;
        }

        ul {
            margin-bottom: 20px;

            li {
                font-size: calc($h3-font-size - 2px);
                font-weight: $h2-font-weight;
                line-height: 2;
                margin-bottom: 2px;
            }
        }

        button {
            padding: 8px;
            width: 30%;
            font-weight: $h2-font-weight;
        }
    }
}

// Section-4
.section-4 {
    #s4-r {

        position: relative;
        background-image: url("public/sec-4.png");
        background-size: cover;

        #s4-c {
            padding-top: 7%;

            h1 {
                line-height: 2em;
                font-size: calc($h1-font-size - 10px);
                font-weight: $h1-font-weight;
                color: $font-color-yellow;
            }

            p {
                font-size: $h3-font-size;
                font-weight: calc($h2-font-weight - 50);
                line-height: 1.5;
                color: white;
            }

            button {
                border-color: transparent;
                text-align: center;
                padding: 1%;
                width: 12%;
            }
        }
    }
}

// Section-5
.section-5-title {
    h1 {
        font-size: calc($h1-font-size - 0px);
        font-weight: $h1-font-weight;
        letter-spacing: -2;
    }
}

.section-5-content {
    padding-inline: 5%;
    div .card {
        width: 100%;
        height: 105%;
        .upper {
            width: 100%;
            height: 30%;
            .price-tag {
                width: 45%;
                border: 1px solid orange;
                .price {
                    padding-inline: 50px;
                    padding-block: 45px
                }
            }
            p {
                width: 55%;
                font-weight: 600;
                padding-block: 55px;
                padding-inline: 13px;
                width: 55%;
                font-size: 19px;
            }
        }
        .lower {
            width: 100%;
            background-color: $font-color-yellow;
            height: 70%;
        }
    }
}

// Section-8
.section-8 {
    width: 100%;
    padding-top: 4%;
    #s8-image {
        background-image: url("public/sec-8.png");
        background-size: cover;
        width: 110vh;
        height: 100vh;
    }

    div {
        padding: 15%;

        #s8-title {
            margin-top: 1%;
            margin-left: 50px;
            background-color: black;
            color: $font-color-yellow;
            padding: 1%;
            padding-inline: 2%;
            font-size: calc($h1-font-size + 15px);
            letter-spacing: -3;
            font-weight: $h1-font-weight;
        }

        #s8-body {
            margin-top: 30%;
            margin-left: 50px;

            #s8-body-subtitle {
                letter-spacing: -2;
                line-height: 50px;
                font-size: calc($h2-font-size - 5px);
                font-weight: $h1-font-weight;
            }

            #s8-body-paragraph {
                width: 85%;
                letter-spacing: -1;
                font-size: calc($h3-font-size - 1px);
                font-weight: $h2-font-weight;
            }

            button {
                margin-left: -5%;
                width: 45%;
            }
        }
    }
}

// Section-9
.section-9-title {
    h1 {
        // margin-left: 15%;
        font-weight: $h1-font-weight;
        font-size: calc($h1-font-size - 6px);
        letter-spacing: -2px;
        width: 64%;
        font-family: $font-family;
        margin-inline: 20%;
        text-align: center;
        line-height: 97.5px;
    }
}

.section-9-content {
    margin-top: 3%;

    div img {
        width: 96%;
        padding: 20px;
    }

    div {
        p {
            font-size: calc($h2-font-size - 5px);
            font-weight: $h1-font-weight;
            letter-spacing: -2px;
        }

        div {
            width: 75%;

            ul li {
                font-size: $h3-font-size;
                font-weight: $h2-font-weight;
                margin-bottom: 10px;
            }
        }

        button {
            margin-top: 5%;
            width: 30%;
        }
    }
}

#footer {
    background-image: url("public/footer.png");
    color: #F2F1EA;
    padding-top: 64px;
    padding-bottom: 80px;
    padding-inline: 40px;
    width: 100%;

    div {
        justify-content: space-between;
        padding-inline: 2%;

        ul li {
            line-height: 2.2;
            font-size: calc($h3-font-size - 4px);
            font-weight: $h2-font-weight;
        }

        ul li:hover {
            color: $font-color-yellow;
        }
    }

    .footer-logo {
        text-align: center;
    }

    .footer-address {
        color: $font-color-yellow;
        width: 25%;
        height: auto;

        br {
            margin-top: 5%;
        }
    }

    .footer-btn {
        width: fit-content;
    }
}

// Screen - 1200px
@media screen and (max-width: 1200px) {
    #s1-title {
        padding: 1%;
        padding-inline: 5%;
        font-size: calc($h1-font-size - 5px);
        font-weight: $h1-font-weight;
    }

    #s1-body {
        margin-top: 30%;
    }

    #s1-image {
        background-image: url(public/1S9A7314\ 1.png);
        background-size: cover;
        height: 100vh;
    }

    .carousel-text {
        height: 700px;
        padding: 6%;
        padding-left: 10%;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        background-image: url("public/sec-2-bg.png");

        p {
            color: $font-color-yellow;
            font-size: 50px;
        }

        img {
            width: fit-content;
        }

        div {
            img {
                width: fit-content;
            }

            button {
                width: fit-content;
            }
        }
    }

    #cards {
        margin-top: -8%;

        div {
            .card {
                width: 10em;
                height: auto;
                padding: 2%;
                margin: 7px;

                img {
                    width: 50px;
                }
            }
        }
    }

    .section-3-title {
        h1 {
            font-size: calc($h1-font-size - 10px);
            font-weight: $h1-font-weight;
            word-spacing: -2px;
            letter-spacing: -2px;
        }
    }

    .section-3-content {
        .section-3-sub-content {
            padding: 5%;
            margin-top: -4%;

            h1 {
                font-size: calc($h2-font-size - 13px);
                font-weight: $h1-font-weight;
                margin-bottom: 20px;
            }

            ul {
                margin-bottom: 15px;

                li {
                    font-size: calc($h3-font-size - 2px);
                    font-weight: $h2-font-weight;
                    line-height: 2;
                    margin-bottom: 2px;
                }
            }

            button {
                padding: 8px;
                width: fit-content;
                font-weight: $h2-font-weight;
            }
        }
    }

    .section-4 {
        height: 125vh;

        #s4-r {
            height: 100%;
            margin-top: -18%;
            position: relative;
            background-image: url("public/sec-4.png");
            background-size: cover;

            #s4-c {
                padding-top: 7%;

                h1 {
                    line-height: 2em;
                    font-size: calc($h1-font-size - 10px);
                    font-weight: $h1-font-weight;
                    color: $font-color-yellow;
                }

                p {
                    font-size: $h3-font-size;
                    font-weight: calc($h2-font-weight - 50);
                    line-height: 1.5;
                    color: white;
                }

                button {
                    border-color: transparent;
                    text-align: center;
                    padding: 1%;
                    margin-top: 2%;
                    width: 15%;
                }
            }
        }
    }

    .section-8 {
        width: 100%;
        padding-top: 15%;
        #s8-image {
            background-image: url("public/sec-8.png");
            background-size: cover;
            width: 100%;
            height: auto;
        }
    
        div {
            padding: 1%;
    
            #s8-title {
                margin-top: 1%;
                width: 95%;
                background-color: black;
                color: $font-color-yellow;
                padding: 1%;
                padding-inline: 2%;
                font-size: calc($h1-font-size + 15px);
                letter-spacing: -3;
                text-align: center;
                font-weight: $h1-font-weight;
            }
    
            #s8-body {
                #s8-body-subtitle {
                    letter-spacing: -2;
                    line-height: 50px;
                    font-size: calc($h2-font-size - 5px);
                    font-weight: $h1-font-weight;
                }
    
                #s8-body-paragraph {
                    width: 95%;
                    letter-spacing: -1;
                    font-size: calc($h3-font-size - 1px);
                    font-weight: $h2-font-weight;
                }
    
                button {
                    margin-inline-start: 40%;
                    width: 25%;
                }
            }
        }
    }

    .section-9-title {
        h1 {
            // margin-left: 15%;
            font-weight: $h1-font-weight;
            font-size: calc($h1-font-size - 10px);
            letter-spacing: -2px;
            width: 64%;
            font-family: $font-family;
            margin-inline: 20%;
            text-align: center;
            line-height: 97.5px;
        }
    }

    .section-9-content {
        margin-top: 30%;

        div img {
            width: 100%;
            padding: 5px;
        }

        div {
            p {
                font-size: calc($h2-font-size - 5px);
                font-weight: $h1-font-weight;
                letter-spacing: -2px;
            }

            div ul li {
                font-size: $h3-font-size;
                font-weight: $h2-font-weight;
                margin-bottom: 10px;
            }

            button {
                margin-top: 1%;
                font-size: 15px;
                width: 30%;
            }
        }
    }
}

// Screen - 990px
@media screen and (max-width: 992px) {
    .header-logo {
        width: 70%;

        #logo {
            width: 50%;
        }
    }

    #s1-title {
        width: 80%;
        margin-inline: 10%;
        margin-top: -5%;
        font-size: $h1-font-size;
        font-weight: $h1-font-weight;
        text-align: center;
    }

    .carousel-text {
        padding: 4%;
        height: fit-content;

        p {
            color: $font-color-yellow;
            font-size: 45px;
        }
    }

    #s1-body {
        margin-top: 7%;
    }

    #s1-image {
        height: 50vh;
    }

    .carousel-text {
        height: 600px;
        padding: 3%;
        padding-left: 10%;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        background-image: url("public/sec-2-bg.png");

        p {
            color: $font-color-yellow;
            font-size: 40px;
        }

        img {
            width: fit-content;
        }

        div {
            img {
                width: 15em;
                height: fit-content;
                margin-top: -3em;
            }

            button {
                width: fit-content;
                margin-top: -3em;
            }
        }
    }

    #cards {
        margin-top: -1%;

        div {
            .card {
                width: 60%;
                padding: 2%;
                margin: 15px;

                img {
                    width: 50px;
                }
            }
        }
    }

    .section-3-title {
        h1 {
            font-size: calc($h1-font-size - 20px);
            font-weight: $h1-font-weight;
        }
    }

    .section-3-content {
        .section-3-sub-content {
            padding: 1%;
            margin-top: 1%;

            h1 {
                font-size: calc($h2-font-size - 10px);
                font-weight: $h1-font-weight;
                margin-bottom: 20px;
            }

            ul {
                margin-bottom: 15px;

                li {
                    font-size: calc($h3-font-size - 4px);
                    font-weight: $h2-font-weight;
                    line-height: 2;
                    margin-bottom: 2px;
                }
            }

            button {
                padding: 8px;
                width: fit-content;
                font-weight: $h2-font-weight;
            }
        }
    }

    .section-4 {
        height: 120vh;

        #s4-r {
            height: 100%;
            margin-top: -35%;
            position: relative;
            background-image: url("public/sec-4.png");
            background-size: cover;

            #s4-c {
                padding-top: 7%;

                h1 {
                    line-height: 2em;
                    font-size: calc($h1-font-size - 10px);
                    font-weight: $h1-font-weight;
                    color: $font-color-yellow;
                }

                p {
                    font-size: $h3-font-size;
                    font-weight: calc($h2-font-weight - 50);
                    line-height: 1.5;
                    color: white;
                }

                button {
                    border-color: transparent;
                    text-align: center;
                    padding: 1%;
                    margin-top: 2%;
                    width: 15%;
                }
            }
        }
    }

    .section-8 {
        #s8-image {
            background-image: url("public/sec-8.png");
            background-size: cover;
            height: 50vh;
        }

        div {
            #s8-title {
                width: 80%;
                margin-top: -5%;
                margin-inline: 10%;
                background-color: black;
                color: $font-color-yellow;
                padding: 2%;
                font-size: $h1-font-size;
                font-weight: $h1-font-weight;
            }

            #s8-body {
                margin-top: 10%;

                #s8-body-subtitle {
                    font-size: calc($h2-font-size - 10px);
                    font-weight: $h1-font-weight;
                }

                #s8-body-paragraph {
                    font-size: calc($h3-font-size - 0px);
                    font-weight: $h2-font-weight;
                }
            }
        }
    }

    .section-9-title {
        h1 {
            // margin-left: 15%;
            font-weight: $h1-font-weight;
            font-size: calc($h1-font-size - 20px);
            letter-spacing: -2px;
            width: 67%;
            font-family: $font-family;
            margin-inline: 15%;
            text-align: center;
            line-height: 67.5px;
        }
    }

    .section-9-content {
        margin-top: 35%;

        div img {
            width: 65%;
            padding: 5px;
        }

        div {
            p {
                font-size: calc($h2-font-size - 5px);
                font-weight: $h1-font-weight;
                letter-spacing: -2px;
            }

            div {
                width: 82%;

                ul li {
                    font-size: $h3-font-size;
                    font-weight: $h2-font-weight;
                    margin-bottom: 10px;
                }
            }

            button {
                margin-top: 1%;
                font-size: 15px;
                width: 25%;
            }
        }
    }
}

// Screen - 580px
@media screen and (max-width: 768px) {
    .header-logo {
        width: 90%;

        #logo {
            width: 90%;
        }
    }

    #s1-title {
        margin-inline: 10%;
        margin-top: -7%;
        font-size: $h2-font-size;
        font-weight: $h1-font-weight;
        text-align: center;
    }

    #s1-body {
        margin-top: 10%;
        text-align: center;
    }

    #s1-image {
        height: 50vh;
    }

    .carousel-text {
        height: 600px;
        padding: 3%;
        padding-left: 10%;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        background-image: url("public/sec-2-bg.png");

        p {
            color: $font-color-yellow;
            font-size: 33px;
        }

        img {
            width: 5em;
            height: fit-content;
        }

        div {
            img {
                width: 15em;
                height: fit-content;
            }

            button {
                width: fit-content;
            }
        }
    }

    #cards {
        margin-top: -1%;

        div {
            .card {
                width: 80%;
                height: 200px;
                padding-top: 15%;
                margin: 15px;

                img {
                    width: 50px;
                }
            }
        }
    }

    .section-3-title {
        h1 {
            font-size: calc($h2-font-size - 15px);
            font-weight: $h1-font-weight;
            letter-spacing: -1px;
        }
    }

    .section-3-content {
        .section-3-sub-content {
            padding: 5%;
            margin-top: 2%;

            h1 {
                font-size: calc($h2-font-size - 13px);
                font-weight: calc($h1-font-weight - 250);
                margin-bottom: 20px;
            }

            ul {
                margin-bottom: 25px;

                li {
                    font-size: calc($h3-font-size - 6px);
                    font-weight: $h2-font-weight;
                    line-height: 2;
                    margin-bottom: 2px;
                }
            }

            button {
                display: flex;
                padding: 1%;
                padding-left: 3%;
                width: 20%;
                font-weight: $h2-font-weight;
            }
        }
    }

    .section-4 {
        height: 100%;
        margin-top: 40%;

        #s4-r {
            height: 95%;
            position: relative;
            background-image: url("public/sec-4.png");
            background-size: cover;

            #s4-c {
                h1 {
                    font-size: calc($h2-font-size - 13px);
                    color: $font-color-yellow;
                    margin-top: 7%;
                }

                p {
                    font-size: calc($h3-font-size - 5px);
                    padding-inline: 5%;
                    color: white;
                }

                button {
                    border-color: transparent;
                    width: fit-content;
                    text-align: left;
                }
            }
        }
    }

    .section-5-title {
        h1 {
            font-size: calc($h1-font-size - 30px);
            font-weight: $h1-font-weight;
        }
    }

    .section-5-content {
        div {
            div #oc-1 {
                height: 35%;
            }
        }
    }

    .section-8 {
        width: 100%;
        padding-top: 15%;
        #s8-image {
            background-image: url("public/sec-8.png");
            background-size: cover;
            width: 100%;
            height: auto;
        }
    
        div {
            padding: 1%;
    
            #s8-title {
                margin-top: 1%;
                width: 95%;
                background-color: black;
                color: $font-color-yellow;
                padding: 1%;
                padding-inline: 2%;
                font-size: calc($h2-font-size - 13px);
                letter-spacing: -3;
                text-align: center;
                font-weight: $h1-font-weight;
            }
    
            #s8-body {
                text-align: center;
                #s8-body-subtitle {
                    letter-spacing: -1;
                    font-size: calc($h2-font-size - 22px);
                    font-weight: $h1-font-weight;
                }
    
                #s8-body-paragraph {
                    width: 95%;
                    letter-spacing: 0;
                    font-size: calc($h3-font-size - 5.5px);
                    font-weight: $h2-font-weight;
                }
    
                button {
                    margin-inline-start: 1%;
                    width: 25%;
                }
            }
        }
    }

    .section-9-title {
        h1 {
            font-weight: $h1-font-weight;
            font-size: calc($h2-font-size - 13px);
            letter-spacing: -2px;
            width: 90%;
            font-family: $font-family;
            margin-inline: 5%;
            text-align: center;
            line-height: 37.5px;
        }
    }

    .section-9-content {
        margin-top: 35%;

        div img {
            width: 85%;
            padding: 5px;
        }

        div {
            p {
                font-size: calc($h3-font-size + 8px);
                font-weight: $h1-font-weight;
                letter-spacing: -2px;
            }

            div {
                width: 82%;

                ul li {
                    font-size: calc($h3-font-size - 4px);
                    font-weight: $h2-font-weight;
                    margin-bottom: 10px;
                }
            }

            button {
                margin-top: 1%;
                font-size: 15px;
                width: 25%;
            }
        }
    }

    #footer {
        background-image: url("public/footer.png");
        color: #F2F1EA;
        padding-top: 64px;
        padding-bottom: 80px;
        padding-inline: 40px;
        width: 100%;

        div {
            width: 100%;
            padding: 2%;

            ul li {
                line-height: 2.2;
                font-size: calc($h3-font-size - 4px);
                font-weight: $h2-font-weight;
            }

            ul li:hover {
                color: $font-color-yellow;
            }
        }

        .footer-logo {
            width: 100%;
            text-align: center;
        }

        .footer-address {
            color: $font-color-yellow;
            width: 50%;
            height: auto;

            br {
                margin-top: 5%;
            }
        }

        .footer-btn {
            width: 100%;
            text-align: center;
        }
    }
}

// Screen - 415px
@media screen and (max-width:576px) {
    #s1-title {
        margin-inline: 10%;
        margin-top: -7%;
        font-size: calc($h2-font-size - 10px);
        font-weight: $h1-font-weight;
    }

    .carousel-text {
        height: 500px;
        padding: 3%;
        padding-left: 10%;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        background-image: url("public/sec-2-bg.png");

        p {
            color: $font-color-yellow;
            font-size: 25px;
        }

        img {
            width: 4em;
            height: fit-content;
        }

        div {
            img {
                width: 10em;
                height: auto;
            }

            button {
                width: fit-content;
            }
        }
    }

    #cards {
        margin-top: 1%;

        div {
            .card {
                width: 95%;
                height: 200px;
                padding-top: 15%;
                margin: 15px;

                img {
                    width: 50px;
                }
            }
        }
    }

    .section-3-content {
        .section-3-sub-content {
            padding: 5%;
            margin-top: 2%;

            h1 {
                font-size: calc($h2-font-size - 20px);
                font-weight: calc($h1-font-weight - 250);
                margin-bottom: 20px;
            }

            ul {
                margin-bottom: 25px;

                li {
                    font-size: calc($h3-font-size - 6px);
                    font-weight: $h2-font-weight;
                    line-height: 2;
                    margin-bottom: 2px;
                }
            }

            button {
                display: flex;
                padding: 2%;
                padding-left: 3%;
                width: fit-content;
                font-weight: $h2-font-weight;
            }
        }
    }

    .section-4 {
        height: 100%;
        margin-top: 40%;

        #s4-r {
            height: 100%;
            position: relative;
            background-image: url("public/sec-4.png");
            background-size: cover;

            #s4-c {
                h1 {
                    font-size: calc($h2-font-size - 13px);
                    color: $font-color-yellow;
                    margin-top: 7%;
                }

                p {
                    font-size: calc($h3-font-size - 5.5px);
                    padding-inline: 5%;
                    color: white;
                }

                button {
                    border-color: transparent;
                    width: fit-content;
                    text-align: left;
                }
            }
        }
    }

    .section-5-content {
        .cart {
            height: 30em;

            .inner-cart {
                .upper {
                    font-size: calc($h3-font-size - 5px);
                    height: 40%;
                }

                .lower {
                    height: 55%;
                }
            }
        }
    }

    .section-8 {
        width: 100%;
        padding-top: 15%;
        #s8-image {
            background-image: url("public/sec-8.png");
            background-size: cover;
            width: 100%;
            height: 40vh;
        }
    
        div {
            padding: 1%;
    
            #s8-title {
                margin-top: -8%;
                width: 90%;
                background-color: black;
                color: $font-color-yellow;
                padding: 4%;
                padding-inline: 1%;
                margin-inline: 5.5%;
                font-size: calc($h2-font-size - 13px);
                letter-spacing: -1;
                text-align: center;
                font-weight: $h1-font-weight;
            }
    
            #s8-body {
                margin-top: 2%;
                margin-inline: -2%;
                padding: 0%;
                text-align: center;
                #s8-body-subtitle {
                    letter-spacing: -1;
                    padding-top: 3%;
                    line-height: 30px;
                    font-size: calc($h2-font-size - 23px);
                    font-weight: $h1-font-weight;
                }
    
                #s8-body-paragraph {
                    width: 80%;
                    margin-top: -4%;
                    margin-inline: 10%;
                    letter-spacing: 0;
                    font-size: calc($h3-font-size - 5.5px);
                    font-weight: $h2-font-weight;
                }
    
                button {
                    margin-inline-start: 1%;
                    width: 40%;
                }
            }
        }
    }

    .section-9-title {
        h1 {
            font-weight: $h1-font-weight;
            font-size: calc($h2-font-size - 13px);
            letter-spacing: -2px;
            width: 90%;
            font-family: $font-family;
            margin-inline: 5%;
            text-align: center;
            line-height: 37.5px;
        }
    }

    .section-9-content {
        padding-top: 7%;
        padding-bottom: 18%;

        div img {
            width: 95%;
            padding: 5px;
        }

        div {
            p {
                font-size: calc($h3-font-size + 8px);
                font-weight: $h1-font-weight;
                letter-spacing: -2px;
            }

            div {
                width: 82%;

                ul li {
                    font-size: calc($h3-font-size - 4px);
                    font-weight: $h2-font-weight;
                    margin-bottom: 10px;
                }
            }

            button {
                margin-top: 1%;
                font-size: 15px;
                width: 50%;
            }
        }
    }

    #footer {
        background-image: url("public/footer.png");
        color: #F2F1EA;
        padding-top: 64px;
        padding-bottom: 80px;
        padding-inline: 40px;
        width: 100%;

        div {
            width: 100%;
            padding: 2%;

            ul li {
                line-height: 2.2;
                font-size: calc($h3-font-size - 4px);
                font-weight: $h2-font-weight;
            }

            ul li:hover {
                color: $font-color-yellow;
            }
        }

        .footer-logo {
            width: 100%;
            text-align: center;
        }

        .footer-address {
            color: $font-color-yellow;
            width: 100%;
            height: auto;

            br {
                margin-top: 5%;
            }
        }

        .footer-btn {
            width: 100%;
            text-align: center;
        }
    }
}


#s1-content h1 {
    background-color: black;
    color: #F9DF08;
    width: fit-content;
    font-size: 85px;
    margin-right: -4%;
    padding: 5px;
}

#s1-content-one {
    margin-right: -4%;
    padding: 5px;
}

#s1-content-one h1 {
    background-color: black;
    color: #F9DF08;
    width: fit-content;
    font-size: 85px;
    margin-left: 85px;
    padding: 25px;
    margin-top: 2%;
    position: absolute;
}

#image-h {
    background-image: url("public/1S9A7314\ 1.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}

#s1-graphics img {
    width: 100%;
}

#carouselExampleRide {
    margin-top: -2%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
}

.quote {
    margin-top: 7%;
    background-color: transparent;
}

#section-2 h1 {
    margin: 7%;
    margin-top: 1%;
    margin-bottom: 4%;
    font-weight: bolder;
    position: relative;
    color: rgba(255, 255, 0, 0.897);
    background-color: transparent;
}

#section-2 img {
    margin-left: 7%;
    width: auto;
    font-weight: bolder;
    position: relative;
    background-color: transparent;
}

#section-2 button {
    margin-left: 7%;
    width: auto;
    font-weight: bolder;
    position: relative;
    font-weight: 600;
    background-color: white;
    color: black;
}

.boxes {
    display: flex;
    margin: 2%;
    margin-top: -6%;
    margin-left: 14%;
    width: 70%;
    background-color: transparent;
    position: absolute;
}

.box {
    display: flow-root;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 20px;
    margin: 2%;
    width: 15%;
    height: 110px;
}

.box p {
    font-weight: 500;
    font-size: small;
}

.box img {
    width: 35px;
    height: 45px;
    background-color: transparent;
}

#s2-r {
    width: 100%;
    height: 100%;
    background-image: url("public/sec-2-bg.png");
}

#s2-r {
    padding: 5%;
}

#s2-c p {
    margin: 5%;
    color: rgba(255, 255, 0, 0.897);
    ;
}

#s2-c img {
    margin-left: 5%;
}

#s2-c button {
    margin: 5%;
}

#s3-bg img {
    width: 100%;
    padding: 0%;
}

.img-fluid {
    width: 50%;
    height: auto;
}

#vroom-r {
    margin-top: -12%;
    width: 100%;
    justify-content: end;
    position: absolute;
    animation-name: vrooming;
    animation-duration: 3s;

    img {
        width: 35%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@keyframes vrooming {
    0% {
        right: 0;
    }

    50% {
        right: 7%;
    }

    100% {
        right: 15%;
    }
}

#card {
    height: fit-content;
}

.wrench {
    position: absolute;
    width: 40px;
    height: 52px;
    left: 92px;
    top: 4186px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

#s7-c1 {
    background-image: url("public/s7-1.png");
    background-size: cover;
    padding-top: 20%;
    height: 100%;
}

#s7-c1 h1 {
    color: #F9DF08;
}

#s7-c1 p {
    color: #F2F1EA;
}

#s7-c2 {
    background-image: url("public/s7-2.png");
    background-size: cover;
    padding-top: 20%;
    height: 100%;
}

#s7-c2 h1 {
    color: #F9DF08;
}

#s7-c2 p {
    color: #F2F1EA;
}

#white-in-black {
    background-color: black;
    color: #F2F1EA;
}

#white-in-black:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 992px) {

    // ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
    .col-md-12 {
        margin-left: 15%;
    }
}